*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(0,0,0);
}
.game{
    width: 80%;
    height: 100vh;
    /* border-bottom:  100px solid rgb(24, 174, 24); */
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#87CEEB, #E0F6FF);
}
.fire-ball{
    position: absolute;
    /* bottom: 1000px; */
    margin-left: 11%;
    width: 3%;
    transform: rotate(220deg);
    background-color: none;
    z-index: 1;
    display: none;
}
.shot-fireball{
    animation: fireball-animation 1.5s infinite linear;
}
.pipe-game{
    position: absolute;
    bottom: 30px;
    width: 7%;
    height: 12%;
    animation: pipe-animation 2s infinite linear;
}
.super-mario{
    width: 11%;
    position: absolute;
    bottom: 0;
    /* padding-top: 462px; */
    padding-bottom: 30px;
    margin-left: 10% ;
    z-index: 99;
    /* transform-origin: center; */
} 
.jump-mario{
    animation: mario-animation 500ms ease-out;
    
    }
.rotate-mario{
        animation: rotate-animation 400ms ease-out;
}    
.cloud-game{
    position: absolute;
    width: 55%;
    margin-top: 50px;
    animation: cloud-animation 15s infinite linear;
}
.floor{
    width: 300%;
    height: 35px;
    position: absolute;
    bottom: 0;
    animation: floor-animate 1.4s infinite linear;
}

@keyframes rotate-animation {
    0%  {bottom: 5%;}
    10% {bottom: 10%;}
    20% {bottom: 15%;}
    30% {bottom: 20%;}
    40% {bottom: 25%;}
    50% {transform: rotateY(-360deg) ;}
    60% {bottom: 25%;}   
    70% {bottom: 20%;}
    80% {bottom: 15%;}
    90% {bottom: 10%;}
    100%{bottom: 5%;}
} 

@keyframes fireball-animation{
    from{
        left: 10px;
    }
    to{
        left: 100%;
    }
}

@keyframes pipe-animation{
    from{
        right: -80px;
    }
    to{
        right: 100%;
    }
}

@keyframes cloud-animation{
    from{
        right: -550px;
    }
    to{
        right: 100%;
    }
}

@keyframes mario-animation {
    0%  {bottom: 5;}
    10% {bottom: 10%;}
    20% {bottom: 15%;}
    30% {bottom: 20%;}
    40% {bottom: 25%;}
    50% {bottom: 30%;}
    60% {bottom: 25%;}   
    70% {bottom: 20%;}
    80% {bottom: 15%;}
    90% {bottom: 10%;}
    100%{bottom: 5;}
}

@keyframes floor-animate {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-500px);
    }
} 